
.block1 {
	width: 90vw;
	font-size: 5vw;
}
.box1{
	background-color: #008080;
	width: 250px;
	height: 250px;	
	display: inline-block;
	margin-top: 100px;
	margin-left: 110px;
	padding-top: 50px;
	padding-left: 50px;
	border-radius: 10%;
}
 body {
	 background: #000000;
}
 a {
	 color:white;
	 font-size: 20px;
	 font-style:italic;
}
 h1 {
	 color: #008080;
	 font-size: 5vw;
	 display:inline;
	 text-align: right;
}
.container {
	background-image: linear-gradient(to right, #bbd4e2, #4acde4);
	min-height: 500px;
	margin-top: 20px;
	}
